* {
    background-color: #eeedf2;
    font-family: 'Neue Plak', sans-serif;
    color: #6f7287
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin: 0 auto;

    width: 100%;
}

#page-title {
    color: #f05537;
}

.header-nav#search {
    border: 1px solid black;
    background-color: #eeedf2;
}

.header-nav#search >input {
    border: none;
    background-color: #eeedf2;
}



.nav > a {
    color: #f05537;
    text-decoration: none;
    margin: 0 10px;
}

.tabbed-categories__trending > a {
    display: flex;
    width: 20%;
    height: 40px;

    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.tabbed-categories__trending {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tabbed-categories__link {
    border: 1px solid #6f7287;
}

#events {
    width: 100%;
}

.events__container {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;

}

.events__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:  center;

    width: 100%;
}



.picture-card#disco {
    display: grid;
    grid-template-areas:
    "disco-img disco-img"
    "disco-name disco-name"
    "disco-date disco-date"
    ". disco-price"
    ;

    width: 420px;

    padding: 50px;
}

#disco-image {
    grid-area: disco-img;


    width: 100%;
    height: 300px;
}

#disco-name {
    grid-area: disco-name;
}

#disco-date {
    grid-area: disco-date;
}

#disco-price {
    grid-area: disco-price;
    text-align: end;
}


.picture-card#outdoor {
    display: grid;
    grid-template-areas:
    "out-img out-img"
    "out-name out-name"
    "out-date out-date"
    ". out-price"
    ;

    width: 420px;

    padding: 50px;
}

 #outdoor-image {
    grid-area: out-img;

    width: 100%;
    height: 300px;
}

#outdoor-name {
    grid-area: out-name;
}

#outdoor-date {
    grid-area: out-date;
}

#outdoor-price {
    grid-area: out-price;
    text-align: end;
}


.picture-card#dance {
    display: grid;
    grid-template-areas:
    "dance-img dance-img"
    "dance-name dance-name"
    "dance-date dance-date"
    ". dance-price"
    ;

    width: 420px;
    padding: 50px
}

#dance-image {
    grid-area: dance-img;

    width: 100%;
    height: 300px;

}

#dance-name {
    grid-area: dance-name;
}

#dance-date {
    grid-area: dance-date;
}

#dance-price {
    grid-area: dance-price;
    text-align: end;
}

.events__see-more {
    display: flex;
    justify-content: center;
}

.events__see-more-button {
    border-color: #6f7287;
    width: 33%;
    height: 50px;
    margin: 25px;
}

footer {
    width: 100%;
    flex-shrink: 0;
    align-self: end;
}

.footer__banner {
    width: 100%;
    height: 100px;
    background-color: #1e0a3c;
    color: #FFFFFF;

    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-nav#search {
        width: 100%;
    }

    .tabbed-categories__trending {
        flex-direction: column;
        gap: 15px;
        ;
    }

    .tabbed-categories__trending> a {
        width: 100%;
    }

    .events__group {
        display: flex;
        flex-direction: column;
    }

    #disco-name, #disco-date, #outdoor-name, #outdoor-date, #dance-name, #dance-date {
        text-align: center;
    }
}
